* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

.gradient-background > * {
  margin: 0px 15vw;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.title h1 {
  font-size: 3rem;
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}

#features {
  display: flex;
  justify-content: center;
}

.container > h1 {
  font-size: 30px;
}
.pebbles {
  width: 10vh;
  border-radius: 50%;
  margin: 0 auto;
}

.depoimento {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
}
.rowCompanies > div > img {
  width: 15vh;
}



@media (max-width: 600px) {
  #iphone {
    width: 100%;
  }
  
  #mainTitle {
    font-size: 2.6rem;
}
}

@media (max-width: 1500px) {
  #iphone {
    width: 100%;
  }
  
  #mainTitle {
    font-size: 2.6rem;
}
}